.App {
  /* text-align: center; */
  /* background-color: #393f4d; */
  background-color: #393f4d;
  width: 100vw;
  height: 100vh;
}

.slider-container {
  display: flex;
  flex-direction: column;
  border-right: solid #393f4d 1px;
  z-index: 2;
  color: black;
  justify-content: center;
  align-items: center;
}

.marks-container {
  display: flex;
  flex-direction: row;
  width: 260px;
  justify-content: space-between;
}

.mark {
  color: #d4d4dc;
  font-size: 13px;
}

.step {
  color: #d4d4dc;
  font-size: 21px;
  padding-bottom: 20px;
}
